 
header * { display: flex; justify-content: center; }
.blocks { width: 980px; }
.blocks > img { width: 188px; height: 40px;}
nav { display: flex; align-items: center; justify-content: center; }
ul { display: flex; list-style: none;}
li { margin-left: 15px;}
p { padding: 0; margin: 0;}
.content { display: flex; justify-content: center; flex-direction: column; align-items: center; }
.content > * { width: 980px; }
#make { display: flex; flex-direction: column; }